body{
height:600%;
background-image:url("image/grass.jpg");

background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
background-filter:blur(2px);
}h1{
text-align:center;
 font:20px,Time New Roman, sanserif;
}
h1,h4 {
text-align:center;
  background-color:white;
padding:12px;
  border-style:solid;
opacity:0.9;
  width: 50%;
margin-left:auto;
margin-right:auto;


}
nav{
width: 55%;
font:Time New Roman, sanserif;
 border-style:solid;
text-align:center;
  background-color:white;
margin-left:auto;
margin-right:auto;

}
p{
text-align:center;
 font-weight:bold;
font: 15px,Arial, sans-serif;
}